
  <div>
    <h1 class="text-lg font-bold">About</h1>
    <p class="text-xs">Lorem, ipsum dolor <span highlight> tur adipisicing elit.</span> sit amet consecte Sint explicabo molestias cumque amet id, consequuntur ab sunt. Illum facilis at saepe natus, quis porro officiis inventore repudiandae blanditiis, consequuntur cupiditate?</p>
    <p class=" text-xs"> numero de clientes  <app-counter [duration]="duration()" [message]="message()" *ngIf="duration() > 0" /></p>
    <div>
      <app-wave-audio audioUrl="assets/audio.mp3" />
    </div>
  </div>




